body{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 1rem;
}

hr{
    margin-bottom: 0.9rem;
}
button{
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    height: 4rem;
    width: 12rem;
    margin-bottom: 0.9rem;

}