body{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 1rem;
}
nav{
    text-align: left;
}
.navbar{
    height: 1.5rem;
    width: 7rem;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
}
button{
    height: 2rem;
    width: 8rem;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
}